<div class="container">
    <div class="contenedor-novedades bg-white rounded-4 overflow-hidden mb-5">
        <div class="header-novedades d-flex align-items-center justify-content-center p-4">
            <div class="contenedor-titulo">
                <h3 class="h3 mb-1 text-center flex-grow-1">Modificar Novedad</h3>
            </div>
        </div>

        <div class="p-4 p-md-5 modificar-nov">
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data" class="row g-4">
                <div class=" d-flex flex-column">
                    {{#if error}}
                    <div class="alert alert-danger mt-4 d-flex align-items-center rounded-3">
                        <i class="fas fa-exclamation-circle me-2"></i>
                        <div>{{message}}</div>
                    </div>
                    {{/if}}

                    <input type="hidden" value="{{novedad.id}}" name="id">

                    <div class="col-12 mb-4">
                        <label class="form-label fw-bold text-dark">Título</label>
                        <input type="text" class="form-control ps-3" id="titulo-novedad" name="titulo"
                            value="{{novedad.titulo}}">
                    </div>

                    <div class="col-12 mb-4">
                        <label class="form-label fw-bold text-dark">Descripción</label>
                        <textarea class="form-control" id="descripcion-novedad" name="descripcion"
                            rows="4">{{novedad.descripcion}}</textarea>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold d-block text-dark">Categoría</label>
                        <div class="d-flex gap-3">
                            <div class="flex-fill">
                                <input type="radio" class="btn-check" name="tipo" id="tipo1" value="lanzamiento"
                                    {{#ifCond novedad.tipo '==' 'lanzamiento' }}checked{{/ifCond}}>
                                <label class="btn btn-outline-secondary w-100 py-2" for="tipo1">
                                    <i class="fas fa-rocket me-2"></i>Lanzamiento
                                </label>
                            </div>
                            <div class="flex-fill">
                                <input type="radio" class="btn-check" name="tipo" id="tipo2" value="proyecto" {{#ifCond
                                    novedad.tipo '==' 'proyecto' }}checked{{/ifCond}}>
                                <label class="btn btn-outline-secondary w-100 py-2" for="tipo2">
                                    <i class="fas fa-briefcase me-2"></i>Proyecto
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label for="fecha_publicacion" class="form-label fw-bold text-dark">Fecha de Publicación</label>
                        <div class="input-group">
                            <span class="input-group-text bg-light border-end-0 contenedor-icono">
                                <i class="far fa-calendar-alt text-muted"></i>
                            </span>
                            <input type="date" class="form-control border-start-0 ps-0" id="fecha_publicacion"
                                name="fecha_publicacion" value="{{novedad.fecha_publicacion}}">
                        </div>
                    </div>

                    <div class="col-12 mb-4">
                        <label class="form-label fw-bold text-dark">Imagen de portada</label>
                        <div class="contenedor-img-upload">
                            <input type="file" name="imagen_url" id="imagen_url" accept="image/*" class="input-oculto"
                                required>
                            <label for="imagen_url" class="contenedor-label-upload" id="label-imagen">
                                <div class="contenido-upload">
                                    <span class="texto-upload" id="texto-upload-exito">¡Nueva imagen
                                        seleccionada!</span>
                                    <div class="icono-upload">
                                        <i class="fas fa-sync-alt"></i>
                                    </div>
                                    <span class="texto-upload">Haz clic para reemplazar la imagen actual</span>
                                </div>
                            </label>
                        </div>

                        {{#if novedad.imagen_url}}
                        <div
                            class="mt-3 p-3 border rounded-3 bg-light d-flex align-items-center justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input mt-2 p-2" type="checkbox" name="borrar_img"
                                    id="borrar_img" value="1">

                                <label
                                    class="form-check-label small fw-bold text-danger d-flex align-items-center rounded border border-danger-subtle text-uppercase px-2 py-1"
                                    for="borrar_img"> Guardar sin imagen
                                </label>

                                <label
                                    class="form-check-label d-inline-flex align-items-center bg-light-danger px-0 py-1 "
                                    for="borrar_img">
                                    <i class="fa-solid fa-circle-exclamation text-danger me-2"></i>
                                    <span class="small fw-bold text-danger" style="letter-spacing: 0.5px;">
                                        Se eliminará la imagen actual
                                    </span>
                                </label>

                                <input type="hidden" name="img_original" value="{{novedad.imagen_url}}">
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>

                <div
                    class="col-12 d-flex flex-column-reverse flex-sm-row justify-content-end align-items-center gap-3 pt-4 border-top mt-5">
                    <a href="/admin/novedades" class="boton-cancelar">Cancelar</a>
                    <button type="submit" class="boton px-4 border-0 shadow-sm">
                        <i class="fas fa-save me-2"></i>Guardar cambios
                    </button>
                </div>
        </div>
        </form>
    </div>
</div>

<script>
    const checkboxBorrar = document.getElementById('borrar_img');
    const inputImagen = document.getElementById('imagen_url');
    const labelImagen = document.getElementById('label-imagen');

    checkboxBorrar.addEventListener('change', function () {
        if (this.checked) {
            inputImagen.required = false;
            inputImagen.disabled = true;
            inputImagen.value = "1";

        } else {
            inputImagen.required = true;
            inputImagen.disabled = false;
        }
    });
</script>