<div class="container ">
    <div class="contenedor-novedades  bg-white rounded-4 overflow-hidden">

        <div class="header-novedades d-flex flex-column flex-md-row justify-content-between align-items-center p-3 p-md-4">
            <div class="contenedor-titulo mb-2 mb-md-0">
                <h3 class="h4 mb-0 mb-sm-1">Gestión de novedades</h3>
            </div>
            <a class="boton" href="/admin/novedades/agregar"><i class="fa fa-plus me-2" aria-hidden="true"></i>Agregar</a>
        </div>


        <div class="table-responsive px-4 pb-4">
            <table class="table tabla table-hover align-midle">
                <thead>
                    <tr class="">
                        <th scope="col" width="20" class="d-none d-lg-table-cell">#</th>
                        <th scope="col" class="text-center d-none d-md-table-cell" width="100">Img</th>
                        <th scope="col">Título</th>
                        <th scope="col" class="text-center d-none d-lg-table-cell" width="100">Tipo</th>
                        <th scope="col" class="text-center d-none d-sm-table-cell" width="100">Fecha</th>
                        <th class="text-end" width="100">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each novedades}}
                    <tr>
                        <td class="text-muted fw-bold small d-none d-lg-table-cell">{{id}}</td>
                        <td class="text-center d-none d-md-table-cell">
                            <div class="contenedor-img mx-auto">
                                <img src="https://picsum.photos/80/80?random=1" alt="img-novedad">
                            </div>
                        </td>
                        <td class="novedad-titulo"><span>{{titulo}}</span></td>
                        <td class="text-center d-none d-lg-table-cell"><span
                                class=" badge contenedor-tipo text-secondary  text-uppercase border">{{tipo}}</span>
                        </td>
                        <td class="small text-secondary text-center d-none d-sm-table-cell">
                            <div class="contenedor-fecha">
                                <i class="far fa-calendar-alt me-1"></i> {{fecha_publicacion}}
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="btn-group">
                                <a class="btn btn-light border" href="/admin/novedades/modificar/{{id}}">
                                    <i class="fa fa-pencil text-primary" aria-hidden="true"></i></a>
                                <a class="btn btn-light border" href="/admin/novedades/eliminar/{{id}}">
                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>